body {
    height: 100%;
    width: 100%;
  }
  .text-center {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  .form-control {
    background-color: #f1f7bc;
    box-shadow: #060605;
  }

  @media (max-width: 576px) {
    .list-group-item {
      display: flex;
      flex-wrap: wrap;
    }
  }